.container {
    position: relative;
    width: 60%;
  }

  @media only screen and (max-width: 767px) {
  .container {
    width: 70%
    }
  }
  
  .header {
      padding: 0px;
      border: 0px;
      margin: 0px;
  }
  
  .responsive {
      width: auto;
      height: auto;
  }
  
  .header-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 0;
    background: rgba(0, 0, 0, 0.9);
      background: -webkit-linear-gradient(rgba(0, 0, 0, 0.90), rgba(15, 20, 41 0.9)), url(images/header_background.jpg);
      background: linear-gradient(rgba(0, 0, 0, 0.90), rgba(15, 20, 41, 0.9)), url(images/header_background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .bottom-bg {
    position: absolute;
    margin: 0;
    background: url(images/intro2.svg) bottom center no-repeat;
    background-size: contain;
    bottom: 0px;
    width: 100%;
    height: 100%;
  }
  
  @media only screen and (max-width: 767px) {
  .bottom-bg {
     display: none;
      }
  }
  
  .arrow {
    text-align: center;
    margin-top: 60px;
  }
  
  .bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
  
  .fa-angle-double-down {
    color: rgb(255,255,255);
  }
  
  .fa-angle-double-down:hover {
    color: rgb(255,255,255);
    text-decoration: none;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(30px);
    }
    60% {
      transform: translateY(15px);
    }
  }
  
  
  .page-body {
     height: auto;
     width: 100%;
     background-color: #82a4cc; 
     position: absolute;
     top: 99%;
     z-index: 10;
     padding-bottom: 2em;
  }
  
  .page-body-about {
    height: auto;
    width: 100%;
    background-color: #82a4cc; 
    position: absolute;
    z-index: 10;
    padding-bottom: 2em;
 }
 
  .page-body-2 {
     height: auto;
     width: 100%;
     background-color: #416ea0; 
     position: absolute;
     top: 99%;
  }

  .page-body-2-about {
    height: auto;
    width: 100%;
    background-color: #416ea0; 
    position: absolute;
 }
  
  .page-body-3 {
    height: auto;
    width: 100%;
    background-color: #05091b; 
    position: absolute;
    top: 99%;
  }

  .page-body-3-about {
    height: auto;
    width: 100%;
    background-color: #05091b; 
    position: absolute;
  }
  
  .text-bar {
    margin: 0px;
  }
  
  .header-title {
    position: relative;
    top: 150px;
    margin: auto;
    height: auto;
    width: 100%;
    max-width: 1720px;
  }
  
  .title {
    position: relative;
    font-family: 'Raleway';
    font-weight: 600;
    text-align: center;
    overflow: hidden;
    color: #fff;
    font-size: 75px;
    margin: 0 auto;
    padding-bottom: 2vw;
    white-space: nowrap;
  }
  
  .title-sub {
    position: relative;
    font-family: 'Raleway';
    font-weight: 600;
    text-align: center;
    overflow: hidden;
    line-height: 1.25em;
    color: #fff;
    font-size: 50px;
    margin: 0 auto;
  }
  
  .navbar-custom {
    background: rgba(20,20,20,0.6);
    padding: auto;
  }

  .navbar-custom-about {
    background: #82a4cc;
    padding: auto;
  }

  .navbar-brand {
    margin-left: 3.5em;
  }
  
  .navbar-nav > li:last-child {
    margin-right: 3em;
  }
  
  #about-nav ul.nav a:hover { 
    color: #212529 !important; 
  }

  #home-nav ul.nav a:hover { 
    color: #82a4cc !important; 
  }

  @media only screen and (max-width: 767px) {
    .navbar-brand {
    margin-left: 0.5em;
      }
  }
  
  @media only screen and (max-width: 767px) {
    .navbar-nav > li {
    margin-left: 0.5em;
      }
  }
  
  .nav.navbar-nav.ml-auto li a {
    font-family: 'Raleway';
    color: #fff; 
    font-size: 15px;
  }
  
  .navbar li{
    display: inline-block;
    padding: 5px;
    width: 90px;
  }
  
  .custompadding {
     padding: 2.5%;
     margin: 0 !important;
  }
  
  .content {
    position: relative;
    width: 100%;
    max-width: 450px;
    margin: auto;
    overflow: hidden;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.2);
  }
  
  .content .content-overlay {
    background: rgba(121, 149, 179,0.9);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.1;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  
  .content:hover .content-overlay{
    opacity: 1;
  }
  
  .content-image{
    width: 100%;
  }
  
  .content-details {
    position: absolute;
    text-align: left;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
  }
  
  .content-details a {
    position: absolute;
    top: 15px;
    right: 25px;
    color: #fff;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 0.75em;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
  }
  
  .content-details h2 {
    position: absolute;
    top: -10px;
    right: 0px;
    margin: 25px;
    color: #fff;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 1.5em;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
  }
  
  .content-details h4 {
    position: absolute;
    top: 52.5px;
    right: 0px;
    margin: 25px;
    color: #fff;
    font-family: 'Raleway';
    font-size: 0.8em;
    font-weight: 500;
    line-height: 1.4;
    text-align: left;
  }

  .fadeIn-top{
    top: 50%;
  }
  
  .list-center {
    justify-content: center;
    text-align: center;
  }

  .section-title {
    color: #fff;
    font-family: 'Raleway';
    font-weight: 900;
    font-size: 2.25em;
    margin: 1.0em 0em 0.50em 0em;
  }
  
  #skill-title {
    margin: 60px 0px 30px;
  }

  ul.no-bullets {
      list-style-type: none;
      margin: 0px;
      padding: 0px;
  }
  
  .skill-container {
    border: 2.5px #fff solid;
    padding: 5px;
    margin: 7px;
    display: inline-block;
    border-radius: 30px;
  }
    
  .skill-container:hover {
    color: #fff !important;
  }

  .skill-title {
      font-family: 'Raleway';
      font-weight: 700;
      font-size: 1em;
      color: #fff;
      display: inline;
      padding: 10px;
  }

  hr {
    margin: 45px 0px;
    border: solid #fff 1.25px;
    border-color: rgba(255,255,255,0.85);
  }
  
  .quote {
    color: #fff;
    font-family: 'Raleway';
    font-size: 0.9em;
    font-weight: 900;
    text-align: center;
  }
  
  .quote-box {
    margin: 60px 0px 20px;
  }
  
  .icon-list {
    margin-bottom: 50px;
  }

  .skill-margin {
    margin-bottom: 30px;
  }

  .fa-circle {
    color: #142451;
  }

  .opportunity-margin {
    margin: 30px 0px;
  }
  /* About.Html */

  .about-description {
    color: #fff;
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 500;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .about-picture {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 300px;
    height: auto;
  }

  .about-margin {
    margin-bottom: 25px;
  }

  @media only screen and (max-width: 1180px) {
    .container > .about-margin {
    margin-bottom: 25px;
    text-align: center;
      }
  }

  .item-secondary {
    width: 200px;
    height: 200px;
    margin: 100px;
    padding-top: 100px;
    position: absolute;
    top: 25px;
    left: -50px;
    background: url(images/bubble-tea.png) bottom center no-repeat; 
  }

  .item-primary {
    width: 200px;
    height: 200px;
    margin: 100px;
    padding-top: 100px;
    position: absolute;
    top: 25px;
    right: -50px;
    background: url(images/sushi.png) bottom center no-repeat;
  }

  @media only screen and (max-width: 1150px) {
    .item-secondary {
      background: rgba(0, 0, 0, 0);
      }
  }

  @media only screen and (max-width: 1150px) {
    .item-primary {
      background: rgba(0, 0, 0, 0);
      }
  }

  .container > .about-margin > .col-xl-4 > .fas {
    color: #fff;
  }

  .centre-about {
    text-align: center;
    justify-content: center;
    margin: 10px 0px;
    padding-bottom: 25px;
  }

  .about-subtitle {
    color: #fff;
    font-family: 'Raleway';
    margin: 10px 0px;
  }

  .about-end {
    margin-bottom: 50px;
  }
